body
    margin: 0
    padding: 0
    font-family: $mainFont

input[type]
    appearance: none
    outline: none
    border: none
    font-family: $mainFont

    @include simpleText

.base-h1
    font: normal 500 36px/1.1 $mainFont

.base-text
    @include simpleText

    &--xs
        font-size: 10px
    
    &--sm
        font-size: 12px

.base-label
    @include simpleText